.unlogin .page-plan{
  .title1{
    display: block;
    width: 380px;
    margin: 172px auto 0;
    transform: translateY(200px);
    transition: all 0.5s ease 0.2s;
    opacity: 0;
  }
  .title2{
    display: block;
    width: 380px;
    margin: 24px auto 76px;
    transform: translateY(200px);
    transition: all 0.5s ease 0.3s;
    opacity: 0;
  }
  .plan-contain{
    opacity: 0;
    transition: 0.5s ease-in;
    .plan-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 510px;
      margin: 0 auto;
      height: 132px;
      border-top: 1px solid #DBE5FF;
      .logo{
        width: 120px;
        height: 120px;
      }
      .title{
        display: inline-block;
        font-size: 30px;
        color: #111111;
        letter-spacing: 0;
        line-height: 30px;
        width: 300px;
        .des{
          font-size: 22px;
          color: #666666;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px;
          margin-top: 12px;
        }
      }
      &:nth-of-type(5){
        border-bottom: 1px solid #DBE5FF;
      }
      &:after {
        content: "";
        position: relative;
        top: 3px;
        right: -36px;
        height: 12px;
        width: 6px;
        display: inline-block;
        background: url('./arrow.svg') center / 100% no-repeat;
      }
    }
  }
  &.reset{
    .title1,.title2,.plan-contain{
      opacity: 1;
      transform: scale(1, 1) translate3d(0, 0, 0);
    }
  }
}
