.unlogin .page-iso {
  .title {
    display: block;
    &:nth-of-type(1) {
      width: 56px;
      margin: 172px auto 0;
    }
    &:nth-of-type(2) {
      width: 517px;
      margin: 32px auto 23px;
    }
  }
  .des{
    font-size: 28px;
    color: #111111;
    letter-spacing: 3.11px;
    text-align: center;
    line-height: 42px;
  }
  .iso{
    width: 540px;
    display: inline-block;
    margin: 68px auto 0;
  }
}
